#Entorno virtual
venv/

#Caché Fastf1
cache/
data/raw/

#Pruebas
test_openf1.py
test_telemetry.py
test_fast_laps.py

# Archivos temporales Python
__pycache__/
*.pyc

# Archivos generados
*.html

# Configuración VS Code
.vscode/